mixin modal(name, type = 'center')
  section.modal(class=`modal--${name} modal--${type}` data-modal=name)
    button.modal__overlay(type="button" data-modal-close=name)
    .modal__container
      .modal__content
        if block
          block
