doctype html
html(lang='ru')
  include ../templates/mixins.pug
  include ../templates/head.pug
  
  body
    include ../templates/blocks.pug
    
    //- Main content
    main
      block content

    //- Footer
    include ../blocks/footer/footer.pug
