extends ../templates/template.pug
block content
  .container.u-center.u-flex-col
      h1 Header 1
      h2 Header 2
      h3 Header 3
      h4 Header 4
      h5 Header 5
      br
      
      h1.t-h1 Header 1
      h2.t-h2 Header 2
      h3.t-h3 Header 3
      h4.t-h4 Header 4
      h5.t-h5 Header 5
      br

      a(href="") Ссылка
      button.t-ttu Uppercase

      br

